{% extends 'layout.html' %}
{% block title %}
    Index Page
{% endblock %}

{% block content %}
    <h1>Welcome to the Tweet Form</h1>
    <h2>
        {%if form.instance.pk%}Edit Tweet 
        {%else%}Create Tweet 
        {%endif%}

        {% comment %} accept image {% endcomment %}

        <form method="post" enctype="multipart/form-data"  
            class="form">
            {% csrf_token %}
            {% if form.instance.pk %}
                <input type="hidden" name="id" value="{{ form.instance.pk }}">
            {% endif %}
            {{ form.as_p }}
            <button class ="btn btn-primary" type="submit">Submit</button>
        </form>
        <a href="{% url 'tweet_list' %}" class="btn btn-secondary">Cancel</a>
    </h2>

    </form>
{% endblock %}

